
<p id="notice"><%= notice %></p>
    <h2 class="page-header">Questionários</h2>

    <div class="panel-body">
        <div class="table-responsive table-bordered">
            <table class="table">
                <thead>
                  <tr>
                    <th>Título</th>
                    <th colspan="4"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @questionarios.each do |questionario| %>
                        <tr>
                            <td><%= questionario.titulo %></td>
                            <td><%= link_to 'Mostrar', questionario %></td>
                            <td><%= link_to 'Editar', edit_questionario_path(questionario) %></td>
                            <td><%= link_to 'Destruir', questionario, method: :delete, data: { confirm: 'Você tem certeza disso?' } %></td>
                            <td><%= link_to 'Resultados', resultados_path %></td>

                        </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>


<%= link_to 'Novo  Questionario', new_questionario_path %>
